{% extends 'base.html' %}
{% block content %}

<div class="container">
{% if not user.is_superuser %}
  <div class="col s6 profile-table">
    <table class="striped">
      <thead>
        <tr>
          <th class="tg-0lax">Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax">{{ user.first_name}} {{ user.last_name}}</td>
        </tr>
        <tr>
          <td class="tg-0lax">{{ user.email}}</td>
        </tr>
        <tr>
          <td class="tg-0lax">{{ user.profile.phone}}</td>
        </tr>
        <tr>
          <td class="tg-0lax">{{ user.profile.address1}}</td>
        </tr>
        <tr>
          <td class="last-p">{{ user.profile.city}} {{ user.profile.state}} {{ user.profile.zipcode}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </br>
  <div class="card-action">
    <a class="btn-book" href="{% url 'accounts_update' user.id %}">Edit Profile</a>
  </div>
{% endif %}  
  </br>
  </br>
  <h3>Reservations</h3>
  <div class="col s6 reser-table">
    <table class="striped">
      <thead>
        <tr>
          <th>Reservation</th>
          <th>Name</th>
          <th>Pick-up</th>
          <th>Drop-off</th>
          <th>Coverage</th>
          <th>Total</th>
          <th>Cancel?</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in booking %}
        {% if user.is_superuser or user == booking.user %}
        <tr>
          <td>rEs{{booking.id}}</td>
          <td>{{booking.user.first_name}} {{booking.user.last_name}}</td>
          <td>{{booking.start_date}} </td>
          <td>{{booking.end_date}} </td>
          <td>{{booking.get_insurance_display}} </td>
          <td>${{booking.total}} </td>
          <td><a class="btn btn-danger" href="{% url 'cancel_rental' booking.id %}">Cancel</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}