{% extends 'base.html' %}
{% block content %}


<h1>Car Details</h1>

<div class="card" style="max-width: 1000px;">
  <div class="card-header">
    <!-- <input type="text" name="daterange" value="01/01/2018 - 01/15/2018"/>

    <script>
      $(function () {
        $('input[name="daterange"]').daterangepicker({
          "autoApply": true,
          "startDate": "05/07/2021",
          "endDate": "05/08/2021"
        }, function (start, end, label) {
          console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });
    </script> -->

  </div>
  <div class="detail-card">
    <div class="card-left">
      {% for photo in car.photo_set.all %}
      <img class="card-img-top" src="{{photo.url}}">
      {% empty %}
      <img class="card-img-top" src="https://i.ibb.co/TbQNcvH/nocar.webp" alt="nocar" border="0">
      {% endfor %}
    </div>
    <div class="card-body card-center">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-body card-right">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ car.make }}</span>
    <p>Model: {{ car.model }}</p>
    <p>Passenger: {{ car.passengers }}</p>
    <p>Luggage: {{ car.luggage }}</p>
    <p>Range: {{ car.erange }} miles</p>
    <p id="price" type="number" value="{{ car.price }}">${{ car.price }} per/day</p>

    {% with carprice=car.price %}
    <p id="total" type="number" value="{{ car.price }}">Total ${{ carprice }}</p>
    {% endwith %}
    <div>
      <form action="" method="post">
        {% csrf_token %}
        {{ booking_form.as_p }}
        {{ profile_form.as_p }}
        
        <input type="submit" class="btn" value="Add booking">
        <!-- new code above -->
        <table class="striped">
    </div>

  </div>
  <div class="card-action">
    <a href="{% url 'cars_update' car.id %}">Edit</a>
    <a href="{% url 'cars_delete' car.id %}">Delete</a>
  </div>
</div>
<td>?? {{user}}</td>
<div class="col s6">
  <table class="striped">
    <thead>
      <tr>
        <th>Reservation</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Drop-off</th>
        <th>Pick-up</th>
        <th>Drop-off</th>
        <th>Coverage</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in car.booking_set.all %}
      <tr>
        <td>res{{booking.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.profile.bio}}</td>
        <td>{{user.email}}</td>
        <td>{{booking.start_date}} </td>
        <td>{{booking.end_date}} </td>
        <td>{{booking.get_insurance_display}} </td>
        <td>{{booking.total}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<!-- Insert photo markup below this comment -->
{% for photo in car.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<!-- new code below -->
<form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>

<script>
        var startDate = new Date();
        var nextDay = ''
        var start_dateEl = document.getElementById('id_start_date');
        var firstDate = M.Datepicker.init(start_dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          minDate: new Date(),
          yearRange: 1,
          setDefaultDate: true,
          autoClose: true,
          onSelect: d1 => {
            startDate = firstDate.date
            console.log(startDate, 'startDate!!')
            nextDay = new Date(startDate.getTime() + (24 * 60 * 60 * 1000));
            console.log(nextDay, 'nextDay!!')
            here()
          },
        });
        var endDate = '';
        var dd = ''
        var end_dateEl = document.getElementById('id_end_date');
        var today = new Date();
        var tomorrow = new Date(today.getTime() + (24 * 60 * 60 * 1000));
        console.log(nextDay, 'nextDay!!')

        function here() {
          if (nextDay !== '') {
            dd = nextDay
            console.log(dd, 'dd if')
            return dd
          }
          else {
            dd = tomorrow
            console.log(dd, 'dd else')
            return dd
          }
        }
        var topMaxDate = new Date().setDate(today.getDate() + 90);
        var lastDate = M.Datepicker.init(end_dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: tomorrow,
          onOpen: here(),
          minDate: dd,
          maxDate: new Date(topMaxDate),
          setDefaultDate: true,
          autoClose: true,
          onSelect: d2 => {
            endDate = lastDate.date
            getDays()
            test()
          }
        });

        var oneDay = 1000 * 60 * 60 * 24;
        var dateDiff = ''
        var diffTime = ''
        var diffDays = ''
        var totalDays = ''
        function getDays() {
          totalDays = Math.round(Math.abs((endDate - startDate) / oneDay));
          console.log(totalDays, 'totalDays!!')
          console.log(startDate)
          console.log(endDate)
        }

        function test() {
          console.log(totalDays, 'check!!')
        }

        // add additional JS to initialize select below
        var selectEl = document.getElementById('id_insurance');
        M.FormSelect.init(selectEl);
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}