{% extends 'base.html' %}
{% block content %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>function myFieldOnChange() {
    var myField = document.getElementById("id_total")
    myField.setAttribute('readonly', true)
  }
</script>

<div class="container">
<h1>Car Details</h1>

<div class="card" style="max-width: 1000px;">
  <div class="card-header">
    <div class="picker">
      <span class="range">Pick-Up</span>
      <input type="text" id="range" value="01/01/2018 | 01/15/2018" />
      <span class="range">Drop-Off</span>
    </div>
  </div>
  <div class="detail-card">
    <div class="card-left">
      {% for photo in car.photo_set.all %}
      <img class="card-img-top" src="{{photo.url}}">
      {% empty %}
      <img class="card-img-top" src="https://i.ibb.co/TbQNcvH/nocar.webp" alt="nocar" border="0">
      {% endfor %}
    </div>
    <div class="card-body card-center">
      <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
      <p class="card-text">Passengers: 
        <span class="passenger">
          {% if car.passengers == 1 %}
            <i class="fas fa-user"></i>
          {% elif car.passengers == 2 %}
            <i class="fas fa-user"></i>   <i class="fas fa-user"></i>
          {% elif car.passengers == 3 %}
            <i class="fas fa-user"></i>   <i class="fas fa-user"></i>   <i class="fas fa-user"></i>
          {% elif car.passengers == 4 %}
            <i class="fas fa-user"></i>   <i class="fas fa-user"></i>   <i class="fas fa-user"></i>   <i class="fas fa-user"></i> 
          {% elif car.passengers == 5 %}
          <i class="fas fa-user"></i>   <i class="fas fa-user"></i>   <i class="fas fa-user"></i>   <i class="fas fa-user"></i>   <i class="fas fa-user"></i> 
          {% endif %}
        </span>
      </p>
      <p class="card-text">Luggage: 
        <span class="luggage">
          {% if car.luggage == 1 %}
            🧳
          {% elif car.luggage == 2 %}
            🧳  🧳 
          {% elif car.luggage == 3 %}
            🧳 🧳 🧳
          {% elif car.luggage == 4 %}
            🧳 🧳 🧳 🧳 
          {% endif %}
          <span class="suitcase">
            {% if car.suitcase == 1 %}
              💼
            {% elif car.suitcase == 2 %}
              💼  💼 
            {% elif car.suitcase == 3 %}
              💼 💼 💼
            {% elif car.suitcase == 4 %}
              💼 💼 💼 💼 
            {% endif %}
          </span>
        </span>
      </p>
      <p class="card-text">Range p/ charge: {{ car.erange }} miles</p>
      
    </div>
    <div class="card-body card-right">
      <h5 class="card-title">Cost</h5>
      <p class="card-text" id="price" type="number" value="{{ car.price }}">${{ car.price }}<span class="perday"> per/day</span></p>
      <p class="card-text" id="total" type="number" value="{{ car.price }}">Total ${{ car.price }}</p><span> for <span id="total-days">1</span> day(s) rental</span>
    </div>
  </div>
</div>

<div class="card-action">
  <a class="btn" href="{% url 'cars_update' car.id %}">Edit</a>
  <a class="btn" href="{% url 'cars_delete' car.id %}">Delete</a>
</div>

<div class="card">
  <div class="card-content">
    <div>
      <h2>Complete Reservation</h2>
      <form action="{% url 'addbooking' car.id %}" method="POST">
        {% csrf_token %}
        {{ booking_form.as_p }}
        {% if not user.profile.zipcode %}
        {{ profile_form.as_p }}
        {% endif %}
        <input type="submit" class="btn" value="Confirm">
      </form>
    </div>

  </div>
</div>
<td>?? {{user}}</td>
<div class="col s6">
  <table class="striped">
    <thead>
      <tr>
        <th>Reservation</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Drop-off</th>
        <th>Pick-up</th>
        <th>Drop-off</th>
        <th>Coverage</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in car.booking_set.all %}
      <tr>
        <td>rEs{{booking.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.profile.zipcode}}</td>
        <td>{{user.email}}</td>
        <td>{{booking.start_date}} </td>
        <td>{{booking.end_date}} </td>
        <td>{{booking.get_insurance_display}} </td>
        <td>{{booking.total}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<!-- Insert photo markup below this comment -->
<form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>
</div>

<script>

  var startDate = new Date();
  var nextDay = ''
  var start_dateEl = document.getElementById('id_start_date');
  var firstDate = M.Datepicker.init(start_dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    minDate: new Date(),
    yearRange: 1,
    setDefaultDate: true,
    disablad: true,
    autoClose: true,
    onSelect: d1 => {
      startDate = firstDate.date
      console.log(startDate, 'startDate!!')
      nextDay = new Date(startDate.getTime() + (24 * 60 * 60 * 1000));
      console.log(nextDay, 'nextDay!!')
      here()
    },
  });
  var endDate = '';
  var dd = ''
  var end_dateEl = document.getElementById('id_end_date');
  var today = new Date();
  var tomorrow = new Date(today.getTime() + (24 * 60 * 60 * 1000));
  console.log(nextDay, 'nextDay!!')


  function here() {
    if (nextDay !== '') {
      dd = nextDay
      console.log(dd, 'dd if')
      return dd
    }
    else {
      dd = tomorrow
      console.log(dd, 'dd else')
      return dd
    }
  }
  var topMaxDate = new Date().setDate(today.getDate() + 90);
  var lastDate = M.Datepicker.init(end_dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: tomorrow,
    onOpen: here(),
    minDate: dd,
    maxDate: new Date(topMaxDate),
    setDefaultDate: true,
    autoClose: true,
    onSelect: d2 => {
      endDate = lastDate.date
      getDays()
      test()
    }
  });

  var oneDay = 1000 * 60 * 60 * 24;
  var dateDiff = ''
  var diffTime = ''
  var diffDays = ''
  var totalDays = 2
  function getDays() {
    totalDays = Math.round(Math.abs((endDate - startDate) / oneDay));
    console.log(totalDays, 'totalDays!!')
    console.log(startDate)
    console.log(endDate)
  }

  function test() {
    console.log(totalDays, 'check!!')
  }

  let coverageStatus = false
  let coverageValue = 0
  const d1 = new Date().setDate(today.getDate() + 5);
  const d2 = new Date().setDate(today.getDate() + 6);
  const dropDown = document.getElementsByClassName('dropdown-content')
  console.log(dropDown, 'dropDown!!')
  let iniValue = +(document.getElementById('price').innerHTML).replace("$", "").split("<", 1);
  let finalValue = document.getElementById('id_total');
  finalValue = iniValue
  console.log(finalValue, 'initial finalValue')
  document.getElementById("id_total").value = iniValue.toFixed(2);
  console.log(iniValue, 'very first')
  // console.log(+(finalValue.value), 'initial finalValue')

  $('input[id="range"]').daterangepicker({
    "autoApply": true,
    "startDate": new Date(d1),
    "endDate": new Date(d2),
    "minDate": new Date(),
    "maxDate": new Date(topMaxDate),
  },

    function (start, end) {
      $("#id_start_date").val(start.format('YYYY-MM-DD'));
      $("#id_end_date").val(end.format('YYYY-MM-DD'));
      totalDays = Math.round(Math.abs((end._d - start._d) / oneDay));
      coverageStatus ? coverageValue = 20 * (totalDays - 1) : coverageValue = 0
      finalValue = +(coverageValue + ((totalDays - 1) * iniValue)).toFixed(2)
      document.getElementById("id_total").value = finalValue.toFixed(2);
      document.getElementById("total").innerText = `Total $${finalValue.toFixed(2)}`;
      document.getElementById("total-days").innerText = (totalDays - 1);
    }
  );
  $('#start_date').on("change", function () {
    console.log("changes");
  });

  // JS for the insurance dropadown and calculate the insurance cost
  var selectEl = document.getElementById('id_insurance');
  M.FormSelect.init(selectEl);

  selectEl.addEventListener('change', (event) => {
    if (selectEl.value === "F") {
      coverageValue = (20 * (totalDays - 1))
      coverageStatus = true
      finalValue = (finalValue + coverageValue)
      document.getElementById("id_total").value = finalValue.toFixed(2);
      document.getElementById("total").innerText = `Total $${finalValue.toFixed(2)}`;
      document.getElementById("total-days").innerText = (totalDays - 1);
    }
    else {
      coverageValue = (20 * (totalDays - 1))
      finalValue = (finalValue - coverageValue)
      coverageValue = 0
      coverageStatus = false
      document.getElementById("id_total").value = finalValue.toFixed(2);
      document.getElementById("total").innerText = `Total $${finalValue.toFixed(2)}`;
      document.getElementById("total-days").innerText = (totalDays - 1);
    }
  });

</script>

{% endblock %}

