{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>

<div class="card" style="max-width: 1000px;">
  <div class="card-header">
    <!-- <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />

    <script>
      $(function () {
        $('input[name="daterange"]').daterangepicker({
          "autoApply": true,
          "startDate": "05/07/2021",
          "endDate": "05/08/2021"
        }, function (start, end, label) {
          console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });
    </script> -->
  </div>
  <div class="detail-card">
    <div class="card-left">
      {% for photo in car.photo_set.all %}
      <img class="card-img-top" src="{{photo.url}}">
      {% empty %}
      <img class="card-img-top" src="https://i.ibb.co/TbQNcvH/nocar.webp" alt="nocar" border="0">
      {% endfor %}
    </div>
    <div class="card-body card-center">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-body card-right">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ car.make }}</span>
    <p>Model: {{ car.model }}</p>
    <p>Passenger: {{ car.passengers }}</p>
    {% if car.luggage > 0 %}
    <p>Luggage: {{ car.luggage }}</p>
    {% else %}
    <p>Luggage: N/A</p>
    {% endif %}
    
    <div>
      <form action="{% url 'add_booking' car.id %}" method="post">
        {% csrf_token %}
        {{ booking_form.as_p }}
        <input type="submit" class="btn" value="Add booking">
      </form>
      <!-- new code above -->
      <table class="striped">
    </div>

  </div>
  <div class="card-action">
    <a href="{% url 'cars_update' car.id %}">Edit</a>
    <a href="{% url 'cars_delete' car.id %}">Delete</a>
  </div>
</div>
<div class="col s6">
  <table class="striped">
    <thead>
      <tr><th>Name</th><th>Bio</th><th>Drop-off</th><th>Pick-up</th><th>Drop-off</th><th>Coverage</th><th>Total</th></tr>
    </thead>
    <tbody>
      {% for booking in car.booking_set.all %}
        <tr>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.profile.bio}}</td>
          <td>{{user.email}}</td>
          <td>{{booking.start_date}} </td>
          <td>{{booking.end_date}} </td>
          <td>{{booking.get_insurance_display}} </td>
          <td>{{booking.total}} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<!-- Insert photo markup below this comment -->
{% for photo in car.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<!-- new code below -->
<form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>

<script>
  var start_dateEl = document.getElementById('id_start_date');
  const test1 = M.Datepicker.init(start_dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    minDate: new Date(),
    yearRange: 1,
    setDefaultDate: true,
    autoClose: true
  });
  var end_dateEl = document.getElementById('id_end_date');
  var today = new Date();
  var tomorrow = new Date(today.getTime() + (24 * 60 * 60 * 1000));
  var topMaxDate = new Date().setDate(today.getDate()+90;
  const test2 = M.Datepicker.init(end_dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: tomorrow,
    minDate: new Date(),
    maxDate: new Date(topMaxDate),
    setDefaultDate: true,
    autoClose: true
  });

  
  const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
  const firstDate = test1.date;
  const secondDate = test2.date;
  const diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));

  // add additional JS to initialize select below
  var selectEl = document.getElementById('id_insurance');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}