{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>car List</h1>

{% for car in cars %}
<div class="card">
  <!-- add this single line below -->
  <a href="{% url 'detail' car.id %}">
    <div class="card-content">
      <span class="card-title">{{ car.name }}</span>
      <p>Breed: {{ car.breed }}</p>
      <p>Description: {{ car.description }}</p>
      {% if car.age > 0 %}
        <p>Age: {{ car.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %}
    </div>
  <!-- and this following one as well -->
  </a>
</div>
{% endfor %}

{% endblock %}