{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
  <h1>Car List</h1>

  <div id="my-row">
    {% for car in cars %}
    {% if car.luggage > 0 %}
    <div id="mycolumn" class="card" style="width: 300px,;">
      <div class="card-image">
        {% for photo in car.photo_set.all %}
        <img class="card-img-top img-fit" src="{{photo.url}}">
        {% endfor %}
        <h3 class="index-card-title">{{ car.make }} {{ car.model }}</h3>
      </div>
      <div class="card-content">
        <p class="card-text">Passengers:
          <span class="passenger">
            {% if car.passengers == 1 %}
            <i class="fas fa-user"></i>
            {% elif car.passengers == 2 %}
            <i class="fas fa-user"></i> <i class="fas fa-user"></i>
            {% elif car.passengers == 3 %}
            <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i>
            {% elif car.passengers == 4 %}
            <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i
              class="fas fa-user"></i>
            {% elif car.passengers == 5 %}
            <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i
              class="fas fa-user"></i> <i class="fas fa-user"></i>
            {% endif %}
          </span>
        </p>
        <p class="card-text">Luggage: 
          <span class="luggage">
            {{ car.luggage_icons }}
            <span class="suitcase">
              {{ car.suitcase_icons }}
            </span>
          </span>
        </p>
        <p class="card-text">Range p/ charge: {{ car.erange }} miles</p>
        <p class="index-price" style="margin-top: 5px;">${{ car.price }} per/day</p>
        {% if user.is_superuser %}
        <a href="{% url 'detail' car.id %}" class="btn-book btn-float">Details</a>
        {% else %}
        <a href="{% url 'detail' car.id %}" class="btn-book btn-float">Book Now</a>
        {% endif %}
      </div>
    </div>
    {% else %}

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img class="card-img-top" src="https://i.ibb.co/TbQNcvH/nocar.webp" alt="nocar" border="0">
            <span class="card-title">No Cars Added Yet!</span>
            <a href="{% url 'cars_create' %}" class="btn-floating halfway-fab waves-effect waves-light red"><i
                class="material-icons">+</i></a>
          </div>
          <div class="card-content">
            <p>Click the + now to add a car!</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% endblock %}