{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
<h1>Car List</h1>

{% for car in cars %}
<div class="card">
  <!-- add this single line below -->
  <a href="{% url 'detail' car.id %}">
    <div class="card-content">
      <span class="card-title">{{ car.make }}</span>
      <p>Model: {{ car.model }}</p>
      <p>Passenger: {{ car.passengers }}</p>
      {% if car.luggage > 0 %}
        <p>Luggage: {{ car.luggage }}</p>
      {% else %}
        <p>Luggage: Kitten</p>
      {% endif %}
    </div>
  <!-- and this following one as well -->
  </a>
</div>
{% endfor %}

</div>
{% endblock %}