{% extends 'base.html' %}
{% block content %}

<!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url({% static images/heading-1-1920x500.jpg %);">
      <div class="container">                         
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}