
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Page Content -->
    <!-- Banner Starts Here -->
    
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4 class="shad">Your GREEN option for car rentals</h4>
            <h2 class="shad">We are here for you!</h2>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Offers</h2>
              <a href="{% url 'index' %}">view more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4" style="max-width: 400px;">
            <div class="product-item">
              <a href="cars/5"><img src="{% static 'images/2021-BMW-i3.jpeg' %}" alt=""></a>
              <a href="cars/5" class="btn-book btn-float">Book Now</a>
              <div class="down-content">
                <a href="cars/6"><h4>BMW i3</h4></a>
                <h6><small>only</small> $39 <small>per day</small></h6>
                <p>Passengers: <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i></p>
                <p class="luggage">Luggage: 🧳  <small>💼 💼</small></p>
                <p>Range: 153 mi *battery only</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4" style="max-width: 400px;">
            <div class="product-item">
              <a href="cars/6"><img src="{% static 'images/2021-Hyundai-Ioniq.jpeg' %}" alt=""></a>
              <a href="cars/6" class="btn-book btn-float">Book Now</a>
              <div class="down-content">
                <a href="cars/6"><h4>Hyundai Ioniq</h4></a>
                <h6><small>only</small> $49 <small>per day</small></h6>
                <p>Passengers: <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i></p>
                <p class="luggage">Luggage: 🧳 🧳  <small>💼 💼</small></p>
                <p>Range: 170 mi *battery only</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4" style="max-width: 400px;">
            <div class="product-item">
              <a href="cars/7"><img src="{% static 'images/2021-Audi-e-Tron.jpeg' %}" alt=""></a>
              <a href="cars/7" class="btn-book btn-float">Book Now</a>
              <div class="down-content">
                <a href="cars/7"><h4>AUDI e-tron</h4></a>
                <h6><small>only</small> $89 <small>per day</small></h6>
                <p>Passengers: <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i> <i class="fas fa-user"></i></p>
                <p class="luggage">Luggage: 🧳 🧳 🧳 🧳 <small>💼 💼</small></p>
                <p>Range: 222 mi *battery only</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p style="font-size: 16px;">Our company was created with two purposes in mind. For those who are concerned about our future and want to take care of the environment. Also, most people have never had contact with an electric car and are interested in buying one. Renting an electric car can be a good option to help buyers make a decision. You can go for a test drive, but a ride around the block will not tell you much.
              </p>
              </br>
              <p style="font-size: 16px;">Electri<em style="color: #00cc00;">Cars</em>, the future is now!</p>
              
              <a href="about" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img class="car-imgs" src="https://i.ibb.co/4MXykYg/Electri-Cars-co.png" alt="Electri-Cars-co" border="0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="contact.html" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}